<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>This is a Client</h1>
    <h2>
        <span>Client Name:</span>
        <span id="client_name">none</span>
    </h2>

    <h3>Send</h3>
    <div>
        <span>送信先（任意）：</span>
        <input type="text" id="destination">
    </div>
    <div>
        <span>メッセージ：</span>
        <input type="text" id="message">
    </div>
    <input type="button" value="送信" onclick="send()">

    <h3>Recv</h3>
    <div id="recv">

    </div>

</body>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

<script>
    let socket;
    let connFlag = false;

    window.onload = () => {
        GenerateId();

        InitSocket();
    }


    InitSocket = () => {
        socket = io.connect('http://' + "127.0.0.1" + ':' + "8000" + '/test');

        socket.on("response", (res) => {
            console.log(res);

            const RecvText = document.getElementById("recv");

            RecvText.insertAdjacentHTML('beforeend', '<div>' + res.data + '</div>');
        })

        socket.on("connect", (res) => {
            console.log("connect")

            // 接続したらこちらのIDを送信する
            const ClinetName = document.getElementById("client_name").innerHTML;
            socket.emit("clinet name", { "name": ClinetName });
        })

        socket.on("disconnect", (res) => {
            console.log("disconnect")
        })
    }

    GenerateId = () => {
        //ランダムでClientの末尾のIDを作る
        const ClinetName = "Clinet" + Math.round(Math.random() * 100);
        document.getElementById("client_name").innerHTML = ClinetName;
    }

    //function send
    send = () => {
        const message = document.getElementById("message").value;
        const destination = document.getElementById("destination").value;

        if (message) {
            console.log("send");

            socket.emit('require', { "data": message, "to": destination });

            document.getElementById("message").value = null;
            document.getElementById("destination").value = null;

        } else {
            alert("please write message.");
        }
    }
</script>

</html>