<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/index.js" defer></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Engineer</title>
</head>
<body onload="addEvent('reference','d3:3beO4pknPzdOUkc4qxJj-3');">
  <h1>Engineer Profile</h1>
  <ul>
    <li>Name: Reon Akiyama</li>
    <li>Lab: Umeda-Kishita-Lab</li>
    <li>University: Tokyo University</li>
    <li>Email: aaaabbbbcccc@susdesign.t.u-tokyo.ac.jp</li>
    <li>Phone Number: 000-1234-5678</li>
  </ul>
</body>
</html>