<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/index.js" defer></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Engineer</title>
</head>
<body onload="addEvent('reference','d3:3beO4pknPzdOUkc4qxJj-3');">
  <header>
      <nav id="gnav">
          <ul class="inner">
              <li><a href="/top">ホーム</a></li>
              <li><a href="/search">検索</a></li>
              <li><a href="/knowledge">知識一覧</a></li>
              <li><a href="/engineer">エンジニア一覧</a></li>
              <li><a href="http://localhost:8080/drawio/src/main/webapp/?sync=manual" target="_blank">記述作成</a></li>
          </ul>
      </nav>
  </header>
  <h1>Engineer Profile</h1>
  <ul>
    <li>ID: 2</li>
    <li>Name: Reon Akiyama</li>
    <li>Lab: Umeda-Kishita-Lab</li>
    <li>University: Tokyo University</li>
    <li>Email: aaaabbbbcccc@susdesign.t.u-tokyo.ac.jp</li>
    <li>Phone Number: 000-1234-5678</li>
  </ul>
</body>
</html>