<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/index.js" defer></script>
    <title>PD3Connection</title>
  </head>
  <body class="container" onload="fetchPD3List();">
    <div>
      <h1 class="text-center">PD3システム</h1><br>
      <h2 class="text-center">記述一覧</h2>
    </div>
    <table class="table table-striped table-hover" style="width: 80%; margin: 0 auto;">
      <thead>
        <th style="width: 20%">記述タイトル</th>
        <th style="width: 20%">作者</th>
        <th class="text-center" style="width: 10%;">記述</th>
        <th class="text-center" style="width: 15%;">ダウンロード</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <a class="text-center" href="/search"><p>PD3検索システム</p></a>
    <a class="btn btn-secondary" href="/open">起動</a>
  </body>
  <script>

  </script>
</html>