<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/index.js" defer></script>
    <title>D3 Space</title>
  </head>
  <body class="container text-center" onload="fetchPD3List();">
      <header>
          <nav id="gnav">
              <ul class="inner">
                  <li><a href="/top">ホーム</a></li>
                  <li><a href="/search">検索</a></li>
                  <li><a href="/knowledge">知識一覧</a></li>
                  <li><a href="/engineer">エンジニア一覧</a></li>
                  <li><a href="http://localhost:8080/drawio/src/main/webapp/?sync=manual" target="_blank">記述作成</a></li>
              </ul>
          </nav>
      </header>
      <div>
        <h2 class="border-bottom" style="margin: 0 10% 15px; padding: 5px 5px">PD3記述一覧</h1>
      </div>
    <nav class="border-bottom" style="text-align: left; margin: 0 10%;">
      <p>
          <a href="/top">溶接品質出し業務</a>
          ＞
          <a href="/second">位置決め基準の仕様を決める</a>
          ＞
          <span>主基準を決める</span>
      </p>
    </nav>
    <table class="table table-striped table-hover" style="width: 80%; margin: 0 auto;">
      <thead>
        <th style="width: 25%">記述タイトル</th>
        <th style="width: 20%">作者</th>
        <th class="text-center" style="width: 10%;">記述</th>
        <th class="text-center" style="width: 7%;">ダウンロード(RDF)</th>
        <th class="text-center" style="width: 7%;">ダウンロード(XML)</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
  </body>
  <script>

  </script>
</html>