<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="../js/index.js" defer></script>
  <title>Knowledge</title>
</head>
<body onload="addEvent('reference', 'd3:cKRGRhE0Q3SNb38rQh5W-1');">
  <h1>Toyota Wiki 3</h1>
  <h2>STEP1: 基準穴の設定</h2>
  <ol>
    <li>基本的には2ヶ所設定</li>
    <li>穴ピッチは可能な限り広く設定する</li>
    <li>基本的な基準ピン形状は丸＊ダイヤとする</li>
    <li>P工程としては基準穴は全て同一工程で穴抜きすること</li>
  </ol>
  <h2>STEP2: 主基準面の設定</h2>
  <ol>
    <li>必要最小限にし、バランスよく設定のこと</li>
    <li>P成形上安定性のある面に設定する</li>
    <li>従来からの実績でほとんど決まってきているが、車 (ボデー) として精度の必要とする部位 (面) を直接位置決め (基準設定) するのも、主基準設定の大切な方法のひとつである</li>
  </ol>
</body>
<script>
</script>
</html>