<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../js/index.js" defer></script>
    <title>D3 Space</title>
</head>
<body class="container text-center" onload="addEvent('reference', 'd3aki:knowledge1', '<%= actionURI %>');">
  <header>
      <nav id="gnav">
          <ul class="inner">
              <li><a href="/top">ホーム</a></li>
              <li><a href="/search">検索</a></li>
              <li><a href="/knowledge">知識一覧</a></li>
              <li><a href="/engineer">エンジニア一覧</a></li>
              <li><a href="http://localhost:8080/drawio/src/main/webapp/?sync=manual" target="_blank">記述作成</a></li>
          </ul>
      </nav>
  </header>
  <h1>Toyota Wiki 1</h1>
  <h2>基準穴の設定</h2>
  <ol>
    <li>基本的には2ヶ所設定</li>
    <p>a) ワーク形状がピン2本では決まり得ない場合は 3本以上設けても可</p>
    <li>穴ピッチは可能な限り広く設定する</li>
    <p>目安〕・・・ワーク最大長の 2/3 以上がベストピッチ<br>(最悪でも1/2以上確保のこと・・・・・1/2未満はガタ大で位置決め困難)</p>
    <li>基本的な基準ピン形状は丸＊ダイヤとする</li>
    <p>a)ワーク形状が剛性無く 伸び・縮みするものは 丸*丸 として設定する</p>
    <p>ピン3本以上の場合も この考えに基ずき ・剛性有る方向 丸*ダイヤ<br>・〃 無き 〃  丸*丸   とする</p>
    <img src="../img/knowledge1-img1.png" alt="">
    <p>b)丸ピンの選定は ・精度の必要部位に近い穴 ・後工程でS/Aの基準穴として使用する穴．を丸とする</p>
    <p>上記のようなニーズが無い場合は基準統一の為に 標準として 車両の 前・上・右 (外) を丸とする</p>
    <li>P工程としては基準穴は全て同一工程で穴抜きすること</li>
    <p>(別工程で穴抜きすると 穴ピッチズレを起こす可能性が高い)</p>
  </ol>
</body>
<script>
</script>
</html>