<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Fusion</title>
  </head>
  <body class="container">
  </body>
  <style>
  </style>
  <script>
    window.onload = function () {
      location.href = "fusion360://host/?command=open&file=%2FUsers%2FLEON%2FDocuments%2F%E5%A4%A7%E5%AD%A6_%E7%A0%94%E7%A9%B6%E5%AE%A4%2FPD3_system%2FF3D%2F%E5%AE%9A%E7%9B%A4_%E6%97%A2%E5%AD%98%E9%83%A8%E5%93%81.f3d"
    }
  </script>
</html>