body {
  margin-top: 20px;
  font-family: "ヒラギノ丸ゴ ProN";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 490px;
}

ul{
  text-align: center !important;
}

li{
  display: inline-block !important;
}